<!DOCTYPE html>
<html>
<head>
  <title>Stamp Labs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <p class="navbar-brand">
        <%=image_tag("stamp-labs-logo-small.jpg", class: "img-responsive")%>
        <h3><%= link_to "Stamp Labs", root_path %></h3>
        <div class="pull-right" id="header">
          <% if signed_in? -%>
            <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
          <% else -%>
            <%= link_to t(".sign_in"), sign_in_path %>
            <%= link_to t(".sign_up"), sign_up_path %>
          <% end -%>
        </div>
        </div>
      </p>

  </nav>

<div id="flash">
  <% flash.each do |key, value| -%>
    <div id="flash_<%= key %>"><%=h value %></div>
  <% end %>
</div>

  <br />
  <br />
  <br />
  <br />
  <br />

<%= yield %>

</body>
</html>
